<!-- About the Author -->
<h5 class="title text-capitalize">About The Author</h5>
<div class="card sidebar-post">
    <%= image_tag 'profile-pic.jpg', class: "img-circle center-block author-profile" %>
    <p class="text-center author-info">Adam is a weirdo that leads a hosting company. Performance is something he tries to do. But until the blog gets more traffic I'll just use this. </p>

    <div class="row text-center">
        <div class="text-center">
            <a href="index.html" target="_blank" class="text-uppercase visit-profile btn custom-btn waves-effect waves-light"
               data-aos="zoom-in" data-aos-delay="300">Visit MY Profile</a>
        </div>
    </div>
</div>
<!-- ./About the Author -->
