<!-- About the Author -->
<h5 class="title text-capitalize">About The Author</h5>
<div class="card sidebar-post">
    <%= image_tag 'profile-pic.png', class: "img-circle center-block author-profile" %>
    <p class="text-center author-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
        In iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
        venenatis pharetra mi, ut vestibulum elit ultricies a.</p>

    <div class="row text-center">
        <div class="text-center">
            <a href="index.html" target="_blank" class="text-uppercase visit-profile btn custom-btn waves-effect waves-light"
               data-aos="zoom-in" data-aos-delay="300">Visit MY Profile</a>
        </div>
    </div>
</div>
<!-- ./About the Author -->
