<!-- Category -->
<h5 class="title text-capitalize">Categories</h5>
<ul class="category">
    <li><a href="#0">E-Commerce</a></li>
    <li><a href="#0">Programing</a></li>
    <li><a href="#0">Gaming</a></li>
    <li><a href="#0">Development</a></li>
    <li><a href="#0">Traveling</a></li>
    <li><a href="#0">Passions</a></li>
</ul>
<!-- ./Category -->
