<!-- Follow Me -->
<h5 class="title text-capitalize">Follow</h5>
<div class="card sidebar-post">
    <ul class="text-center list-inline">
        <li class="follow-social"><a href="#0" target="_blank"><i class="ion-social-facebook"></i></a></li>
        <li class="follow-social"><a href="#0" target="_blank"><i class="ion-social-twitter"></i></a></li>
        <li class="follow-social"><a href="#0" target="_blank"><i class="ion-social-linkedin"></i></a></li>
        <li class="follow-social"><a href="#0" target="_blank"><i class="ion-social-googleplus"></i></a></li>
        <li class="follow-social"><a href="#0" target="_blank"><i class="ion-social-instagram"></i></a></li>
    </ul>
</div>
