<!-- Pagination -->
<ul class="pagination text-center">
    <li class="disabled"><a href="#!"><i class="ion-ios-arrow-thin-left"></i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="ion-ios-arrow-thin-right"></i></a></li>
</ul>
<!-- ./Pagination -->
