<!-- Popular Posts -->
<h5 class="title text-capitalize">Popular Posts</h5>
<div class="card sidebar-post">
    <!-- Popular 1 -->
    <div class="row">
        <!-- Sidebar post image -->
        <div class="col-xs-4">
            <a href="post.html"><%= image_tag 'blog/sp.jpg', class: "img-responsive"%></a>
        </div>
        <!-- Post Headline with link -->
        <div class="col-xs-8">
            <a href="post.html"><h6 class="text-capitalize text-underline">Suitable post title</h6></a>
            <p>Lorem ipsum dolor sit amet elit. Vestibulum posuere molestie ipsum vel sollicitudin.</p>
        </div>
    </div>9
</div>
<!-- ./Popular Posts -->
