<header class="intro-header" style="background-image: url('home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h2>Money, Fitness, Code</h2>
                    <hr class="small">
                    <span class="subheading">Read along as i learn about Money, Fitness and Code. </span>
                </div>
            </div>
        </div>
    </div>
</header>
