<<<<<<< HEAD

<!--==========================================
                 HEADER
===========================================-->
<div id="blog-header">
    <div class="overlay">
        <div id="page-title" class="container">
            <h1 class="text-center text-uppercase">Blog</h1>
        </div>
        <!-- Home Button -->
        <a href="index.html" class="home-btn custom-btn waves-effect waves-light text-center">
            <i class="ion-home text-center"></i>
        </a>
    </div>
</div>
