
<!--==========================================
                 HEADER
===========================================-->
<div id="blog-header">
    <div class="overlay">
        <div id="page-title" class="container">
            <h1 class="text-center text-uppercase">Blog</h1>
        </div>
    </div>
</div>
