<header class="intro-header" style="background-image: url('https://s3-us-west-2.amazonaws.com/portfolioadamdbell/post-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1><%= link_to post.title, post.full_url %></h1>
          <h2 class="subheading"><%= truncate_html(post.content, length: 100, omission: '...') %></h2>
          <span class="meta">Posted by this muthafucka <%= post.user.name %> on <%= I18n.localize(post.published_at.to_date, format: :long) %> </span>
        </div>
      </div>
    </div>
  </div>
</header>
