<!-- Search -->
<div class="search card">
    <form action="" method="">
        <div class="input-group">
            <input id="search" name="search" type="text" class="validate" placeholder="Search Here">
        <span class="input-group-btn">
            <button name="submit" type="submit" class="search-btn btn-floating btn-large waves-effect waves-light"
                    data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300">
                <i class="ion-ios-search-strong" aria-hidden="true"></i>
            </button>
        </span>
        </div>
    </form>
</div>
<!-- ./Search -->
