<footer>
    <div class="container">
        <p class="text-center">
            © Mangolemons |  2016. Powered by
            <a href="https://www.nirdhost.com" target="_blank">
                <strong>NIRDHOST</strong>
            </a>
        </p>
    </div>
</footer>
